/* width */
::-webkit-scrollbar {
    width: 5px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000080; 
    border-radius: 50px;
   
  }
  
        /* Navbar CSS */
  .mystyle{
    display: flex;
    flex-direction: column;
    }